extends ../base.pug

block content
    h3 Huangs Mainteancne
    p.
         2019-10-15T18:00:00-06:00 - SW practicum Class time
         2019-10-15T19:00:00-06:00 - Fix heater
         2019-10-16T10:45:00-06:00 - Scrum meeting
         2019-10-16T18:30:00-06:00 - Check utilities bill
         2019-10-17T10:45:00-06:00 - Scrum meeting
         2019-10-17T11:00:00-06:00 - MPS TIM
         2019-10-17T12:00:00-06:00 - NDPP ASW biweekly TIM
         2019-10-18T10:45:00-06:00 - Scrum meeting
         2019-10-22T10:45:00-06:00 - Scrum meeting
         2019-10-22T14:00:00-06:00 - Jira ticket estimations

