extends ../base.pug

block content
    h3 Huangs Mainteancne
    p(style='white-space:pre;').
         2019-12-19T10:45:00-07:00 - Scrum meeting
         2019-12-20T10:45:00-07:00 - Scrum meeting
         2019-12-21 - David Tran back to Colorado
         2019-12-23T10:00:00-07:00 - Pick up dad's medicine
         2019-12-23T18:00:00-07:00 - Trash
         2019-12-24T10:45:00-07:00 - Scrum meeting
         2019-12-25T10:45:00-07:00 - Scrum meeting
         2019-12-26T10:45:00-07:00 - Scrum meeting
         2019-12-26T11:00:00-07:00 - MPS TIM
         2019-12-26T12:00:00-07:00 - NDPP ASW biweekly TIM
