extends ../base.pug

block content
    h3 Huangs Mainteancne

    h2 Step 1:Remove the combustion chamber door
    .media-left
        img(src="https://www.familyhandyman.com/wp-content/uploads/2017/06/1-power.jpg")
    p(style='white-space:pre;').
        Make sure the power is off.
        Flip the electrical power switch to “Off.” Remove the combustion chamber door by lifting up and pulling it
        out, and remove the burner cover (if you have one). It’s usually held in place by two screws.

    h2 Step 2:Inspect the burner flames
    .media-left
        img(src="https://www.familyhandyman.com/wp-content/uploads/2017/06/2-Flames.jpg")
    p(style='white-space:pre;').
        Flames should be even and blue.
        Turn the power switch on and activate the burners by turning up your thermostat. Inspect the burner flames.
        The flames should be fairly even and blue. Yellow flames indicate dirty burners. (Don’t breathe on the
        flames because the extra oxygen will also make them turn yellow.) Don’t adjust the burners yourself.
        Call in a pro.
    h2 Step 3:Watch this video to see 6 tips for furnace troubleshooting:
    iframe( width='1280' height='780'
        src='https://www.youtube.com/embed/2IG_YZTR-lE'
        frameborder='0')

    h2 Step 4:Vacuum out the burner and blower cavities
    .media-left
        img(src="https://www.familyhandyman.com/wp-content/uploads/2017/06/3-Vacuum.jpg")
    p(style='white-space:pre;').
        Vacuum the burners
        Turn off the power switch again and shut off the gas by giving the valve one-quarter turn.
        Vacuum the furnace burners and the furnace base. To get at the back of the burners, tape a 20-in.
        length of 1/2-in. drain line to your vacuum hose. Vacuum everywhere you see dust. While everything is open,
        use a flashlight to look for signs of soot (fine black powder), which often indicates poor combustion.
        Lift off the lower door (blower door) and vacuum the blower compartment.
    h2 Step 5:Remove the blower to clean it
    .media-left
        img(src="https://www.familyhandyman.com/wp-content/uploads/2017/06/4-bolts.jpg")
    p(style='white-space:pre;').
        Remove the bolts that secure the blower
        Remove the blower (also called a squirrel cage) in order to clean it. If you have a control panel in front
        of the blower, two screws will loosen it and you can let it hang. Next, using a 7/16-in. socket and ratchet,
        remove the two bolts that hold the blower in place, then gently lift it out.